update_sensor:
  name: Update Sensor
  description: Aktualisiert den Wert eines Sensors.
  fields:
    entity_id:
      name: Entity ID
      description: Die ID des zu aktualisierenden Sensors.
      example: sensor.ogb_plantfoodnextfeed
    value:
      name: Value
      description: Der neue Wert, der gesetzt werden soll.
      example: 50

add_select_options:
  name: Add Select Options
  description: Aktualisiert den Wert eines Sensors.
  fields:
    entity_id:
      name: Entity ID
      description: Die ID des zu aktualisierenden Sensors.
      example: sensor.ogb_plantfoodnextfeed
    value:
      name: Value
      description: Der neue Wert, der gesetzt werden soll.
      example: 50

update_date:
  name: Update Date
  description: Aktualisiert den Datumswert einer Entit채t.
  fields:
    entity_id:
      name: Entity ID
      description: Die ID der Datum-Entit채t, die aktualisiert werden soll.
      example: sensor.ogb_date_entity
    date:
      name: Date
      description: Das neue Datum im Format YYYY-MM-DD.
      example: "2023-12-31"

update_time:
  name: Update Time
  description: Aktualisiert den Zeitwert einer Entit채t.
  fields:
    entity_id:
      name: Entity ID
      description: Die ID der Zeit-Entit채t, die aktualisiert werden soll.
      example: sensor.ogb_time_entity
    time:
      name: Time
      description: Die neue Zeit im Format HH:MM oder HH:MM:SS.
      example: "08:00:00"

toggle_switch:
  name: Toggle Switch
  description: Schaltet den Zustand des angegebenen Schalters um.
  fields:
    entity_id:
      name: Entity ID
      description: Die ID des Schalters, der umgeschaltet werden soll.
      example: switch.ogb_switch_entity
